/* PATHFIND MENU BAR */

.heuristic-setting {
    width: 125px;
    background-color: rgb(200, 200, 200);
    caret-color: rgb(0, 0, 0);
    cursor: pointer;
}

.bool-setting {
    display: inline-flex;

    width: 10px;
    height: 10px;

    margin-right: 5px;

    background-color: rgb(255, 100, 100);   
}

.pv-menu-bar {
    display: inline-flex;
    width: 100%;

    justify-content: left;

    background-color: rgb(50, 50, 50);
}

.pv-menu-bar-button {
    width: 125px;

    cursor: pointer;

    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 20px;
}

.pv-menu-bar-button span {
    display: inline-block;

    position: relative;

    transition: 0.5s;
}

.pv-menu-bar-button span:after {
    content: '\00bb';
    font-weight: 600;
    font-size: 20px;
    
    position: absolute;

    opacity: 0;
    left: 0px;

    transition: 0.5s;
}

.pv-menu-bar-button:hover span {
    padding-left: 20px;
}

.pv-menu-bar-button:hover span:after {
    opacity: 1;
}

.pv-menu-dropdown-content {
    display: none;
    width: 200px;

    position: absolute;

    background-color: rgb(50, 50, 50, 0.75);
    border-radius: 5%;
    top: 100%;
}

.pv-menu-dropdown-content-item {
    display: block;
    width: 100%;

    padding: 10px;

    background-color: transparent;
    cursor: pointer;
    border-radius: 5%;
    
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.pv-menu-dropdown-content-item:hover {
    font-weight: 600;
}

/* MAZE BUTTON DROPDOWN */

.maze-dropdown:hover .maze-drop-content {
    display: block;
}

/* CLEAR BUTTON DROPDOWN */

.clear-dropdown:hover .clear-drop-content {
    display: block;
}

/* EDIT BUTTON DROPDOWN */

.edit-dropdown:hover .edit-drop-content {
    display: block;
}

/* ALGORITHM BUTTON DROPDOWN */

.algorithm-dropdown:hover .alg-drop-content {
    display: block;
}

/* PATHFIND BUTTON DROOPDOWN */

.pathfind-dropdown:hover .pathfind-drop-content {
    display: block;
}

/* DROPDOWN ANIMATION */

.dropdown-animate {
    animation: growDown 500ms ease-in-out forwards;

    transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

/* CURRENT ALGORITHM */

.pv-curalg {
    width: 250px;
    height: 100%;

    margin-left: 25px;

    opacity: 0.5;

    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 300;
    line-height: 100%;
}

.pv-curalg:hover {
    opacity: 1;

    transition: 0.5s;
}

/* NODE KEY */

.pv-key {
    display: flex;
    
    padding-top: 5px;

    justify-content: center;
}

.pv-key-item {
    display: flex;

    margin: 5px;
    
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.1);
}

.pv-key-node {
    padding: 3px;

    align-self: center;
}

.pv-key-text {
    padding: 3px;

    align-self: center;

    color: rgb(50, 50, 50);
    font-size: medium;
    font-weight: 500;
}

.pv-key-item:hover {
    border-color: rgb(50, 50, 50);

    transition: 0.5s;
}

/* PATHFIND STATS */

.pv-stats {
    display: flex;

    justify-content: center;
}

.pv-stats-item {
    display: flex;

    margin-left: 20px;
    margin-right: 20px;

    font-weight: 600;
    font-size: medium;
}

.pv-stats-text {
    margin-left: 5px;
    
    font-weight: 400;
}