.menu-button {
    width: 125px;

    cursor: pointer;

    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 20px;
}

.menu-button span {
    display: inline-block;

    position: relative;

    transition: 0.5s;
}

.menu-button span:after {
    content: '\00bb';
    font-weight: 600;
    font-size: 20px;
    
    position: absolute;

    opacity: 0;
    left: 0px;

    transition: 0.5s;
}

.menu-button:hover span {
    padding-left: 20px;
}

.menu-button:hover span:after {
    opacity: 1;
}

.dropdown-content {
    display: none;
    width: 200px;

    position: absolute;

    background-color: rgb(50, 50, 50, 0.75);
    border-radius: 5%;
    top: 100%;
}

.dropdown:hover .drop-content {
    display: block;
}

.dropdown-animate {
    animation: growDown 500ms ease-in-out forwards;

    transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

/* TRANSPARENT TEXT SELECTION */

::selection {
    background: transparent;
  }

/* TOP MENU BAR */

.topmenu {
    width: 100%;
    height: fit-content;

    padding-bottom: 5px;

    background-color: rgb(50, 50, 50);
}

/* CURRENT TAB */

.topmenu-curtab {
    width: fit-content;

    padding-right: 10px;
    padding-left: 5px;

    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 24px;
}

.topmenu-curtab span {
    position: relative;

    transition: 0.5s;
}

.topmenu-curtab span:after {
    position: absolute;

    left: 0px;

    opacity: 0;

    content: '\00bb';
    font-weight: 500;
    font-size: 24px;

    transition: 0.5s;
}

.topmenu-curtab:hover span {
    padding-left: 15px;
}

.topmenu-curtab:hover span:after {
    opacity: 1;
}

.topmenu-curtab:hover .topmenu-tablist {
    display: inline;
}

/* TOP MENU BAR TAB LIST */

.topmenu-tablist {
    display: none;

    position: absolute;
}

.topmenu-tablist-animate {
    animation: growRight 500ms ease-in-out forwards;
    
    transform-origin: left center;
}

@keyframes growRight {
  0% {
    transform: scaleX(0);
  }
  
  100% {
    transform: scaleX(1);
  }
}

/* TOP MENU BAR TAB SELECTION */

.topmenu-tab {
    display: inline-flex;

    margin-left: 30px;
    padding-right: 10px;
    padding-left: 10px;

    background-color: transparent;
    cursor: pointer;
    opacity: 0.5;

    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 300;
}

.topmenu-tab:hover {
    opacity: 1;

    transition: 0.5s;
}

/* TAB COMPONENT CONTENT */

.tab-content {
    display: none;
}