/* NAV BAR */

.project {
    display: block;
}

.navbar {
    display: inline-block;
    width: 100%;
    height: 40px;

    justify-content: left;

    background-color: rgb(50, 50, 50);
}

.navigate-dropdown {
    width: 350px;
}

.navbar-button {
    height: 30px;
    width: 300px;

    cursor: pointer;

    line-height: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 300;
    font-size: 26px;
}

.navbar-button span {
    display: inline-block;

    position: relative;

    transition: 0.5s;
}

.navbar-button span:after {
    position: absolute;

    left: 0px;

    opacity: 0;

    content: '\00bb';
    font-weight: 600;
    font-size: 20px;

    transition: 0.5s;
}

.navbar-button:hover span {
    padding-left: 20px;
}

.navbar-button:hover span:after {
    opacity: 1;
}

.navbar-dropdown-content {
    display: none;
    width: 700px;
    height: 40px;

    margin-left: 100px;

    position: absolute;

    top: -10px;
}

.navbar-dropdown-content-item {
    display: inline;
    width: 100%;

    margin-right: 25px;
    margin-left: 25px;
    padding: 10px;

    background-color: transparent;
    cursor: pointer;
    opacity: 0.5;

    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}

.navbar-dropdown-content-item:hover {
    opacity: 1;

    transition: 0.5s;
}

/* NAVIGATE BUTTON DROPDOWN */

.navigate-dropdown:hover .navigate-drop-content {
    display: inline;
}

/* DROPDOWN ANIMATION */

.navbar-dropdown-animate {
    animation: growRight 500ms ease-in-out forwards;
    
    transform-origin: left center;
}

@keyframes growRight {
  0% {
    transform: scaleX(0);
  }
  
  100% {
    transform: scaleX(1);
  }
}

/* TAB CONTENT */

.tab-content {
    display: none;
}