.node {
    width: 25px;
    height: 25px;
    margin: 0.5px;
    outline: 1px solid rgb(150, 150, 150);
    display: flex;
    background-color: white;
}

.weight {
  animation-name: weightAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes weightAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 200, 100);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 150, 50);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 150, 0);
  }
}

.start {
    animation-name: startAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes startAnimation {
    0% {
      transform: scale(0.6);
      background-color: rgb(0, 100, 0);
    }

    50% {
      transform: scale(1.2);
      background-color: rgb(0, 150, 0);
    }

    100% {
      transform: scale(1);
      background-color: rgb(0, 200, 0);
    }
}

.target {
    animation-name: targetAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes targetAnimation {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 0, 0);
    }

    50% {
      transform: scale(1.2);
      background-color: rgb(255, 50, 50);
    }
    100% {
      transform: scale(1);
      background-color: rgb(255, 100, 100);
    }
}

.wall {
    animation-name: wallAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
    0% {
      transform: scale(0.6);
      background-color: rgb(150, 150, 150);
    }

    50% {
      transform: scale(1.2);
      background-color: rgb(100, 100, 100);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(50, 50, 50);
    }
}

.visited {
    animation-name: visitedAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 0, 255);
      border-radius: 100%;
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(0, 100, 200);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(100, 200, 250);
    }
}

.visited-instant {
  background-color: rgb(100, 200, 250);
}

.visited-weight {
  animation-name: visitedWeightAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedWeightAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 0, 255);
    border-radius: 100%;
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(0, 100, 200);
  }

  100% {
    transform: scale(1);
    background-color: rgb(50, 150, 250);
  }
}

.visited-weight-instant {
    background-color: rgb(50, 150, 250);
}

.path {
    animation-name: shortestPath;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 255, 0);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(255, 255, 0);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 255, 0);
    }
}

.path-weight {
  animation-name: shortestPathWeight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPathWeight {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 255, 0);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 255, 0);
  }

  100% {
    transform: scale(1);
    background-color: rgb(200, 200, 0);
  }
}