/* GRID */

.grid {
    justify-content: center;
}

.grid-row {
    display: flex;
    justify-content: center;
}

/* NODE KEY */

.pathfind-key {
    justify-content: center;
    display: flex;
    padding-top: 5px;
}

.key-item {
    margin: 5px;
    display: flex;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.1);
}

.key-node {
    padding: 3px;
    align-self: center;
}

.key-text {
    padding: 3px;
    align-self: center;
    color: rgb(50, 50, 50);
    font-size: medium;
    font-weight: 500;
}

.key-item:hover {
    border-color: rgb(50, 50, 50);
    transition: 0.5s;
}

/* ALGORITHM INFO */

.pathfind-info {
    display: flex;
    justify-content: center;
}

.info-item {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    font-size: medium;
}

.info-text {
    margin-left: 5px;
    font-weight: 400;
}

/* PATHFIND MENU BAR */

.pv-menu-bar {
    width: 100%;
    background-color: rgb(50, 50, 50);
    display: inline-flex;
}

.pv-title {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 300;
    width: 250px;
    height: 100%;
    margin-right: 30px;
    line-height: 100%;
    opacity: 0.5;
}

.pv-title:hover {
    opacity: 1;
    transition: 0.5s;
}

.pv-menu-bar-button {
    height: 100%;
    width: 125px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

.pv-menu-bar-button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.pv-menu-bar-button span:after {
    font-weight: 600;
    font-size: 20px;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    left: 0px;
    transition: 0.5s;
}

.pv-menu-bar-button:hover span {
    padding-left: 20px;
}

.pv-menu-bar-button:hover span:after {
    opacity: 1;
}

.pv-menu-dropdown-content {
    background-color: rgb(50, 50, 50, 0.75);
    border-radius: 5%;
    width: 150px;
    top: 100%;
    position: absolute;
    display: none;
}

.pv-menu-dropdown-content-item {
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    display: block;
    border-radius: 5%;
}

.pv-menu-dropdown-content-item:hover {
    font-weight: 600;
}

/* MAZE BUTTON DROPDOWN */
.maze-dropdown:hover .maze-drop-content {
    display: block;
}

/* CLEAR BUTTON DROPDOWN */

.clear-dropdown:hover .clear-drop-content {
    display: block;
}

/* ALGORITHM BUTTON DROPDOWN */

.algorithm-dropdown:hover .alg-drop-content {
    display: block;
}

/* PATHFIND BUTTON DROOPDOWN */

.pathfind-dropdown:hover .pathfind-drop-content {
    display: block;
}

/* DROPDOWN ANIMATION */

.dropdown-animate {
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}