.grid {
    justify-content: center;
}

.grid-row {
    display: flex;
    justify-content: center;
}

.pathfind-menu {
    font-size: large;
    font-weight: bold;
}

.visualizer-key {
    justify-content: center;
    display: flex;
    padding-top: 5px;
}

.pathfind-info {
    display: flex;
    justify-content: center;
}

.info-item {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    font-size: medium;
}

.info-text {
    margin-left: 5px;
    font-weight: 400;
}

.key-item {
    margin: 5px;
    display: flex;
    outline: 1px solid rgb(200, 200, 200);
    background-color: rgba(150, 150, 150, 0.1);
}

.key-node {
    padding: 3px;
    align-self: center;
}

.key-text {
    padding: 3px;
    align-self: center;
    color: rgb(50, 50, 50);
    font-size: medium;
    font-weight: 500;
}