/* PATHFIND MENU BAR */

.sv-menu-bar {
    display: inline-flex;
    width: 100%;

    justify-content: left;

    background-color: rgb(50, 50, 50);
}

.sv-menu-dropdown-content-item {
    display: block;
    width: 100%;

    padding: 10px;

    background-color: transparent;
    cursor: pointer;
    border-radius: 5%;
    
    color: rgb(255, 255, 255);    
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.sv-menu-dropdown-content-item:hover {
    font-weight: 600;
}

/* DROPDOWN ANIMATION */

.dropdown-animate {
    animation: growDown 500ms ease-in-out forwards;

    transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

/* CURRENT ALGORITHM */

.sv-curalg {
    width: 250px;
    height: 100%;

    margin-left: 25px;

    opacity: 0.5;
   
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 300;
    line-height: 100%;
}

.sv-curalg:hover {
    opacity: 1;

    transition: 0.5s;
}